# Group50 Yicheng Wang(980542)

In [1]:
import requests
import json
import couchdb
import pandas as pd

In [2]:
ip = "http://admin:1234@172.26.130.16:5984/"
db_name = "melb_mid_tweet"
view_name = "test"

In [6]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_with_zero").text)["rows"]
mid0 = pd.DataFrame(result)

In [4]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_without_zero").text)["rows"]
mid1 = pd.DataFrame(result)

In [12]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "language").text)["rows"]
midlanguage = pd.DataFrame(result)

In [14]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "followers").text)["rows"]
midfollower = pd.DataFrame(result)

In [15]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "friends").text)["rows"]
midfriend = pd.DataFrame(result)

In [16]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "text").text)["rows"]
mid_text = pd.DataFrame(result)

In [17]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "time").text)["rows"]
midtime = pd.DataFrame(result)

In [18]:
ip = "http://admin:1234@172.26.133.35:5984/"
db_name = "melb_west_tweet"
view_name = "test"

In [19]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_with_zero").text)["rows"]
west0 = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_without_zero").text)["rows"]
west1 = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "language").text)["rows"]
westlanguage = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "followers").text)["rows"]
westfollower = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "friends").text)["rows"]
westfriend = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "text").text)["rows"]
west_text = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "time").text)["rows"]
westtime = pd.DataFrame(result)

In [20]:
ip = "http://admin:1234@172.26.133.32:5984/"
db_name = "melb_east_tweet"
view_name = "test"

In [21]:
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_with_zero").text)["rows"]
east0 = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "point_without_zero").text)["rows"]
east1 = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "language").text)["rows"]
eastlanguage = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "followers").text)["rows"]
eastfollower = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "friends").text)["rows"]
eastfriend = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "text").text)["rows"]
east_text = pd.DataFrame(result)
result = json.loads(requests.get(ip + db_name + "/_design/" + view_name + "/_view/" + "time").text)["rows"]
easttime = pd.DataFrame(result)

In [43]:
mid_text = pd.DataFrame(mid_text, columns = ['id', 'value'])
mid0 = pd.DataFrame(mid0, columns = ['id', 'value'])
mid0_text = pd.merge(mid_text, mid0.rename(columns={'id':'id'}), on='id',  how='left')
group1 = ['mid']* 30804
mid0_text['group'] = group1

west_text = pd.DataFrame(west_text, columns = ['id', 'value'])
west0 = pd.DataFrame(west0, columns = ['id', 'value'])
west0_text = pd.merge(west_text, west0.rename(columns={'id':'id'}), on='id',  how='left')
group2 = ['west'] * 919
west0_text['group'] = group2

east_text = pd.DataFrame(east_text, columns = ['id', 'value'])
east0 = pd.DataFrame(east0, columns = ['id', 'value'])
east0_text = pd.merge(east_text, east0.rename(columns={'id':'id'}), on='id',  how='left')
group3 = ['east'] * 5288
east0_text['group'] = group3

In [65]:
mid1 = pd.DataFrame(mid1)
mid1

                        id                  key     value
0      1394965330578055168  1394965330578055168 -0.333333
1      1394965332650045441  1394965332650045441 -0.063889
2      1394965334239629315  1394965334239629315  0.500000
3      1394965335762210823  1394965335762210823 -0.500000
4      1394965341005045760  1394965341005045760  0.012500
...                    ...                  ...       ...
16422  1395442721523834883  1395442721523834883  0.133333
16423  1395442724916977664  1395442724916977664 -0.072222
16424  1395442735000195076  1395442735000195076 -0.125000
16425  1395442749558509569  1395442749558509569 -0.125000
16426  1395442758756704257  1395442758756704257  0.066667

[16427 rows x 3 columns]

In [71]:
west1 = pd.DataFrame(west1, columns = ['id', 'value'])
west1_text = pd.merge(west_text, west1.rename(columns={'id':'id'}), on='id',  how='left')
group3 = ['west']* 919
west1_text['group'] = group3

west1_text = west1_text.dropna()


east1 = pd.DataFrame(east1, columns = ['id', 'value'])
east1_text = pd.merge(east_text, east1.rename(columns={'id':'id'}), on='id',  how='left')
group2 = ['east']* 5288
east1_text['group'] = group2

east1_text = east1_text.dropna()


mid1 = pd.DataFrame(mid1, columns = ['id', 'value'])
mid1_text = pd.merge(mid_text, mid1.rename(columns={'id':'id'}), on='id',  how='left')
group1 = ['mid']* 30804
mid1_text['group'] = group1

mid1_text = mid1_text.dropna()

In [74]:
lang = pd.merge(mid0_text, midlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, midfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, midfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_mid0 = pd.merge(friend, midtime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [56]:
lang = pd.merge(west0_text, westlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, westfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, westfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_west0 = pd.merge(friend, westtime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [58]:
lang = pd.merge(east0_text, eastlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, eastfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, eastfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_east0 = pd.merge(friend, easttime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [73]:
lang = pd.merge(mid1_text, midlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, midfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, midfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_mid1 = pd.merge(friend, midtime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [75]:
lang = pd.merge(west1_text, westlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, westfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, westfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_west1 = pd.merge(friend, westtime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [76]:
lang = pd.merge(east1_text, eastlanguage.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'language'})
follower = pd.merge(lang, eastfollower.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'follower'})
friend = pd.merge(follower, eastfriend.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'friend'})
df_east1 = pd.merge(friend, easttime.rename(columns={'id':'id'}), on='id',  how='left').drop(columns='key').rename(columns={'value':'time'})

In [89]:
df_mid0

,id,value_x,value_y,group,language,follower,friend,time
0,1394965330578055168,RT @maximum_sincere: Fuck it must be insanely ...,-0.333333,mid,en,29,1389,Wed May 19 10:37:06 +0000 2021
1,1394965332650045441,RT @shazahrah: ??!! Melbourne shut down their ...,-0.063889,mid,en,545,906,Wed May 19 10:37:07 +0000 2021
2,1394965334239629315,Transvision Vamp - I Want Your Love,0.500000,mid,en,52,65,Wed May 19 10:37:07 +0000 2021
3,1394965334612971521,RT @fizawanders: Cannot unsee ÄŸÅ¸Ëœâ€š #MasterChef...,0.000000,mid,en,580,1695,Wed May 19 10:37:07 +0000 2021
4,1394965335288205312,@msimaker1 https://t.co/4PyGqvn0nK,0.000000,mid,und,2653,366,Wed May 19 10:37:07 +0000 2021
...,...,...,...,...,...,...,...,...
30799,1395442736724054016,"RT @MattCrossin: I wrote about Marxism, Anarch...",0.000000,mid,en,278,2120,Thu May 20 18:14:09 +0000 2021
30800,1395442749558509569,RT @jasmineee_cr: soulmates always find each o...,-0.125000,mid,en,54,83,Thu May 20 18:14:12 +0000 2021
30801,1395442750460370944,@RFT741 @cleary_mitch @AFLcomau Out of the 4 M...,0.000000,mid,en,91,502,Thu May 20 18:14:12 +0000 2021
30802,1395442758454755332,RT @pixieaeri: ASIANÄŸÅ¸â€˜ï¿½ÄŸÅ¸ï¿½Â»MENÄŸÅ¸â€˜ï¿½ÄŸÅ¸ï¿½Â»AREÄŸÅ¸â€˜ï¿½...,0.000000,mid,en,22,171,Thu May 20 18:14:14 +0000 2021
30803,1395442758756704257,RT @Cazzawhy: I really appreciate so much that...,0.066667,mid,en,729,270,Thu May 20 18:14:14 +0000 2021

In [ ]:
df_mid0.to_csv("df_mid0.csv")
df_mid1.to_csv("df_mid1.csv")
df_east0.to_csv("df_east0.csv")
df_east1.to_csv("df_east1.csv")
df_west0.to_csv("df_west0.csv")
df_west1.to_csv("df_west1.csv")